*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
Assets/Data/Models/Environment/Houses/TexturesArrays/NoiseTextureArray.asset filter=lfs diff=lfs merge=lfs -text
Assets/Data/Models/Environment/Houses/TexturesArrays/PlasterBCRTextureArray.asset filter=lfs diff=lfs merge=lfs -text
Assets/Data/Models/Environment/Houses/TexturesArrays/PlasterNMOTextureArray.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSystem/GlobalTextures/Local[[:space:]]Terrain[[:space:]]Prototype_GlobalBake[[:space:]]1.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSystem/GlobalTextures/Local[[:space:]]Terrain[[:space:]]Prototype_GlobalBake[[:space:]]2.asset filter=lfs diff=lfs merge=lfs -text
Assets/TerrainSystem/GlobalTextures/Local[[:space:]]Terrain[[:space:]]Prototype_GlobalBake.asset filter=lfs diff=lfs merge=lfs -text
